@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap');

body{
    background-color: #1e1e1e;
}

.navpopcorn{
    background-color: #000;
}

.navpopcorn h1, a{
    color: #d83333;
    font-size: 1.8rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    
    transition: all 0.3s ease 0s;
}

.navpopcorn a:hover{
    text-decoration: none;
    color: #fff;
}


.search-container{
    padding: 1.25rem;
}

.result {
    margin-bottom: 1.8rem;
    background-color: #333;
    padding: 1.25rem;
    border-radius: 1.25rem;
    cursor: pointer;
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;

    transition: all 0.3s ease-in-out;
    

}

.result:hover{
    box-shadow: 0rem 0rem 1.25rem 0.6rem #d83333;
}

.result img {
    max-width: 11rem;
    max-height: 17rem;
    border-radius: 1.25rem;
}

.result h2 {
    font-size: 1.5rem; /* Defina o tamanho da fonte desejado para os títulos h2 dentro da classe .result */
    margin: 0.6rem;
    font-weight: bold;
    padding: 1.25rem;
}

.result .year {
    font-size: 0.8rem;
    color: #666;
}

.result p {
    font-size: 1rem; /* Defina o tamanho da fonte desejado para os parágrafos dentro da classe .result */
    margin: 0.6rem;
    text-align: justify;
    padding: 1.25rem;
}

#popular-movies h1{
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.6rem;
}

#search-heading{
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.75rem;
    padding: 0.6rem;

}

@media screen and (max-width: 767px) {
    .result img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}




